<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.basepictureoptionslib.android" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
        <activity
            android:name=".PictureOptionsVideoPlayActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.TranslucentTheme"></activity>
    </application>


</manifest>
